/* Default light theme */
body {
    padding-top: 56px;
    background-color: #e7e7e7;
    color: #333;
}

a {
    color: #e08d20;
    /*text-decoration: none;*/
    background-color: transparent;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
    font-weight: 300; /* Lighter font weight for better contrast */
}

body.dark-theme b, body.dark-theme strong {
    font-weight: 700;
    color: #f0f0f0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar {
    color: inherit;
    margin-left: 0.0rem;
    margin-right: 0.0rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    color: inherit;
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.5rem
}

.navbar-dev {
    color: inherit;
    font-size: 0.6rem;
}
.navbar-dev a {
    color: inherit;
    font-size: 0.7rem;
    padding-left: 0.5rem;
}

.ai-message {
    background-color: #e0e0e0; /* Change to your preferred color */
    border: 1px solid #b0b0b0;
    color: black; /* Change to your preferred color */
    padding: 7px;
    margin-bottom: 10px;
    position: relative;
}

.user-message {
    background-color: #c0c0c0; /* Change to your preferred color */
    color: black;
    padding: 7px;
    border: 1px solid #909090;
    margin-bottom: 10px;
    position: relative;
}

/* Dark theme styles for messages */
body.dark-theme .ai-message {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

body.dark-theme .user-message {
    background-color: #222;
    color: #f0f0f0;
    border: 1px solid #444;
}

.ai-message::before {
    content: attr(data-name);
    position: absolute;
    top: -15px;
    right: 10px;
    background-color: #e0e0e0;
    border: 1px solid #b0b0b0;
    border-bottom: none;
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
    color: black;
    font-size: 0.85rem;
    font-weight: bold;
    font-style: italic;
}

body.dark-theme .ai-message::before {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
    border-bottom: none;
}

.typing-dots {
    margin-left: 0.2em;
    font-size: large;
    font-family: monospace;
}

/* A little rounding of the corners of the messages */
.user-message, .ai-message {
    border-radius: 10px;
}

.addendum-message {
    background-color: #b8a0b8e0; /* Lighter shade of gray */
    color: #324; /* Darker text color for contrast */
    padding: 7px;
    border: 2px solid #17102040; /* Lighter border color */
    border-radius: 10px;
    position: relative;
}

.fact-check-collapsed {
    background-color: transparent;
    padding: 0;
    border: none;
    text-align: right;
    cursor: pointer;
    display: block; /* Full width for easier clicking */
    margin-top: -1.5em; /* Adjust as needed */
}

.fact-check-icon.flash {
    animation: flash 0.5s linear 2;
    cursor: pointer;
    padding: 5px; /* Larger clickable area */
    display: inline; /* Inline for text alignment */
}

/* Style for expanded fact-check in light theme */
.fact-check-expanded {
    background-color: #e7e7e7; /* Light background */
    color: #333; /* Dark text for contrast */
    padding: 10px;
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-bottom: 10px; /* Spacing from other elements */
}

/* Style for expanded fact-check in dark theme */
body.dark-theme .fact-check-expanded {
    background-color: #141414; /* Darker background for dark theme */
    color: #e0e0e0; /* Light text for dark theme */
    padding: 10px;
    border: 1px solid #444; /* Darker border for dark theme */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* More pronounced shadow for dark theme */
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


/* Light theme styles for input */
#user-input {
    flex-grow: 1; /* Allows the textarea to grow and fill the horizontal space */
    height: 1.0em;
    margin-top: 0.3em;
    background-color: #f0f0f0; /* Light background for light theme */
    color: #333; /* Dark text color for light theme */
    border: 1px solid #ccc; /* Border color for light theme */
}
/* Dark theme styles for input */
body.dark-theme #user-input {
    background-color: #606060; /* Lighter background for dark theme */
    color: #e0e0e0; /* Darker text color for dark theme */
    border: 1px solid #888; /* Border color for dark theme */
}

#send-button {
    margin-top: 0.3em;
    margin-right: 2rem;
}

.bottom-container {
    position: fixed; /* Change this if it's not fixed to the bottom */
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    background: transparent;
    z-index: 1030; /* Ensure it's above other content */
    transition: bottom 0.1s; /* Optional: adds a smooth transition */
}
.container {
    margin-bottom: 120px; /* Adjust based on the actual height of your input group */
}
.footer-info {
    display: flex;
    justify-content: space-between; /* This separates the children */
    align-items: center; /* Align items vertically */
}

.input-group {
    position: fixed;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
    box-sizing: border-box;
}

.input-group-append {
    margin-left: 0.3em; /* Adds a little space between the textarea and the button */
}

.input-notice {
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-style: italic;
    /* some indentation */
    padding-left: 1em;
}

.version-text {
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5em;
    text-align: right;
    /* some indentation */
    padding-left: 1em;
    margin-right: 1em;
    margin-left: auto; /* push the text to the right */
}

/* Custom CSS for reducing text size in code blocks */
pre[class*="language-"] code {
    white-space: pre-wrap; /* Allows text wrapping in code blocks */
    word-break: break-all; /* Optional: breaks words to prevent overflow */
    font-size: 0.8em; /* Your existing font-size adjustment */
}

/* Override bottom margin for all <p> tags */
p {
    margin-bottom: 0.3em;
}
