<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/favicon.ico">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <title>{{ app_title }}</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg" id="main-navbar">
      <div class="container-fluid">
        <!-- Content before the theme toggle, like a dev name or navigation links -->
        <div class="navbar">
          <img src="/static/{{ assistant_avatar }}" class="avatar" alt="Assistant Avatar">
          <h1>{{ app_title }}</h1>
          &ndash;
          <div class="navbar-dev">
            <a href="{{ navbar_dev_url }}">{{ navbar_dev }}</a>
          </div>
        </div>

        <!-- Theme Toggle Icon on the right -->
        <div class="d-flex">
          <div class="btn-group">
            <input type="checkbox" class="btn-check" id="theme-toggle" autocomplete="off">
            <label class="btn btn-outline-secondary" for="theme-toggle" id="theme-toggle-label">
              <i class="bi bi-moon-stars-fill"></i> <!-- Moon icon for dark mode -->
              <i class="bi bi-sun-fill" style="display:none;"></i> <!-- Sun icon for light mode -->
            </label>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div id="chatbox">
            <!-- Chat messages will be added here -->
          </div>
          <!-- Add this button above your input field -->
          <!-- Wrap buttons in a div with d-flex class -->
          <div class="d-flex justify-content-start mb-2">
            <button id="erase-button" class="btn btn-warning btn-sm mr-2" style="display: none;">Erase Chat</button>
            <button id="reload-button" class="btn btn-info btn-sm" style="display: none;">Reload Chat</button>
          </div>
          <div id="openai-status-message" class="alert alert-danger" role="alert" style="display: none;">
            OpenAI API is currently experiencing issues.<br/>Some features may not work as expected.
          </div>
          <div class="input-group">
            <textarea class="form-control" id="user-input" placeholder="Type a message..."></textarea>
            <div class="input-group-append">
              <button class="btn btn-primary" id="send-button">Send</button>
            </div>
          </div>
          <div class="footer-info">
            <p id="input-notice" class="input-notice">Use Shift+Enter to insert a new line</p>
            <p class="version-text">v {{ app_version }}</p>
          </div>

          <script>
            // Check if it's likely a mobile device
            function isMobileDevice() {
              return /Mobi|Android/i.test(navigator.userAgent);
            }

            function checkOpenAIStatus() {
              fetch('https://status.openai.com/api/v2/status.json')
                .then(response => response.json())
                .then(data => {
                  const statusIndicator = data.status.indicator;
                  if (statusIndicator !== 'none') {
                    // If the status is not 'none', it means there's some issue, show the warning
                    document.getElementById('openai-status-message').style.display = 'block';
                  } else {
                    // If everything is fine, keep the warning hidden
                    document.getElementById('openai-status-message').style.display = 'none';
                  }
                })
                .catch(error => console.error('Error fetching OpenAI status:', error));
            }

            // When the DOM is fully loaded...
            document.addEventListener('DOMContentLoaded', (event) => {
              //console.log("DOM fully loaded and parsed");

              checkOpenAIStatus(); // Check OpenAI status

              // Check if it's likely a mobile device
              if (!isMobileDevice()) {
                //console.log("Not a mobile device, showing input notice");
                document.getElementById('input-notice').style.display = 'block';
              } else {
                //console.log("Mobile device detected, hiding input notice");
                document.getElementById('input-notice').style.display = 'none';
              }

              // Event delegation for fact-checks
              setupFactCheckEventDelegation();
            });
          </script>

        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include markdown-it from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

    <!-- Include highlight.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <!-- Include a highlight.js CSS theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">

    <!-- Include Prism.js and its theme -->
    <script src="https://unpkg.com/prismjs@1.25.0/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        Prism.plugins.autoloader.languages_path = 'https://unpkg.com/prismjs@1.25.0/components/';
    </script>

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

    <script src="static/math_support.js"></script>
    <script src="static/script.js"></script>

    <script>
      // Add the messages to the chatbox
      window.onload = function () {
        postUserInfo(); // Initial send of user-info
        //console.log("Loading chat history...");
        fetch('/get_history')
          .then(response => response.json())
          .then(data => {
            messages = data.messages;
            var chatbox = document.getElementById('chatbox');
            for (var i = 0; i < messages.length; i++) {
              appendMessage(messages[i], "{{ assistant_name }}");
            }
            if (messages.length > 0) {
              showHideButton('erase-button', true);
            }
          });

        // Focus on the input field
        document.getElementById('user-input').focus();
      };

      // When the document is loaded, add the event listeners for the buttons
      $(document).ready(function() {

        // Erase button
        $('#erase-button').click(function () {
          postUserInfo(); // Send again the user-info
          fetch('/clear_chat', { method: 'POST' })
            .then(function () {
              $('#chatbox').html('');
              showHideButton('erase-button', false);
              showHideButton('reload-button', false);
            });
        });

        // Reload button
        document.getElementById('reload-button').addEventListener('click', function() {
          location.reload();
        });

        // Send a message when the user clicks the send button
        $('#send-button').click(function() {
          var userInput = $('#user-input').val();

          // Log the user input in the console
          //console.log('User Input: ' + userInput);
          if (userInput) {
            var assistant_name = "{{ assistant_name }}"; // Get the assistant name from Flask
            sendMessage(userInput, assistant_name); // Send the user message
            $('#user-input').val('');  // Clear the input field
          }
        });

        // Send a message when the user presses the enter key
        $('#user-input').keypress(function(e) {
          if (e.which == 13) { // Enter key
              if (e.shiftKey) { // Shift key
                  e.preventDefault(); // Prevents the default action to be triggered (newline)
                  var cursorPos = this.selectionStart;
                  var value = $(this).val();
                  var textBefore = value.substring(0, cursorPos);
                  var textAfter = value.substring(cursorPos, value.length);
                  $(this).val(textBefore + "\n" + textAfter);
              } else {
                  e.preventDefault(); // Prevents the default action to be triggered (newline)
                  $('#send-button').click(); // Triggers sending the message
              }
          }
        });
      });
    </script>
    <script>
      window.addEventListener('load', function() {
        var navbarHeight = document.querySelector('.navbar').offsetHeight;
        navbarHeight += 8; // Add some padding
        document.body.style.paddingTop = navbarHeight + 'px';
      });

      document.addEventListener('DOMContentLoaded', function () {
          // Set initial theme based on localStorage or default
          initializeTheme();

          // Explicitly attach an event listener to the theme toggle
          document.getElementById('theme-toggle').addEventListener('change', toggleTheme);
      });

      function initializeTheme() {
          const isDarkTheme = localStorage.getItem('theme') === 'dark' || !localStorage.getItem('theme');
          // Apply initial theme state without toggling
          applyTheme(isDarkTheme);
      }

      function toggleTheme() {
          const isDarkTheme = document.body.classList.contains('dark-theme');
          // Toggle theme to the opposite state
          applyTheme(!isDarkTheme);
      }

      function applyTheme(isDarkTheme) {
          const body = document.body;
          const themeToggleCheckbox = document.getElementById('theme-toggle');
          const navbar = document.getElementById('main-navbar');
          const moonIcon = document.querySelector('.bi-moon-stars-fill');
          const sunIcon = document.querySelector('.bi-sun-fill');

          // Apply theme class on body
          body.classList.toggle('dark-theme', isDarkTheme);

          // Update navbar classes for the theme
          if (isDarkTheme) {
              navbar.classList.remove('navbar-light', 'bg-light');
              navbar.classList.add('navbar-dark', 'bg-dark');
          } else {
              navbar.classList.remove('navbar-dark', 'bg-dark');
              navbar.classList.add('navbar-light', 'bg-light');
          }

          // Update checkbox based on current theme
          themeToggleCheckbox.checked = isDarkTheme;

          // Update icons visibility based on theme
          moonIcon.style.display = isDarkTheme ? 'none' : 'inline-block';
          sunIcon.style.display = isDarkTheme ? 'inline-block' : 'none';

          // Save theme preference
          localStorage.setItem('theme', isDarkTheme ? 'dark' : 'light');
      }


      window.addEventListener('load', function() {
        var navbarHeight = document.querySelector('.navbar').offsetHeight;
        navbarHeight += 8; // Add some padding
        document.body.style.paddingTop = navbarHeight + 'px';
      });
    </script>
  </body>
</html>
