pip==24.1.2 # Need a recent pip for brave-search to install !
# Requirements for the Web App !
flask
Flask-Session
cachelib
flask_cors
flask_socketio
openai
duckduckgo_search
brave-search
python-dotenv
boto3
pytz
pydantic
# For "knowledge" retrieval
llama-index
llama-index-vector-stores-chroma
chromadb
python-docx
