.header {
    font-size: medium;
}

.header img {
    vertical-align: bottom; /* Aligns the bottom of the image with the line */
    height: 50px; 
    width: 50px; 
    margin-right: 10px;
}

.header h1 {
    font-size: 2.0rem;
    font-weight: bold;
    vertical-align: bottom; /* Aligns the bottom of the text with the line */
    display: inline; /* Ensures the header is in line with the image */
    margin: 0; /* Removes default margin */
}

.ai-message {
    background-color: #d0d0d0; /* Change to your preferred color */
    color: black; /* Change to your preferred color */
    padding: 7px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
}

.ai-message::before {
    content: attr(data-name);
    position: absolute;
    top: -20px;
    right: 10px;
    background-color: #d0d0d0; /* Change to your preferred color */
    padding: 2px 5px;
    border-radius: 2px;
    color: black; /* Change to your preferred color */
    font-size: 0.8rem;
    font-weight: bold;
}

.typing-dots {
    margin-left: 0.2em;
    font-size: large;
    font-family: monospace;
}

.user-message {
    background-color: #a0a0a0; /* Change to your preferred color */
    color: white; /* Change to your preferred color */
    padding: 7px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
}

/* A little rounding of the corners of the messages */
.user-message, .ai-message {
    border-radius: 10px;
}

/*
.user-message::before {
    content: "Me";
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: #a0a0a0;
    padding: 2px 5px;
    border-radius: 2px;
    color: white;
    font-size: 0.8rem;
}
*/
#user-input {
    height: 5em;
}

.input-notice {
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5em;
    font-style: italic;
    /* some indentation */
    padding-left: 1em;
}

.version-text {
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5em;
    /* some indentation */
    padding-left: 1em;
    margin-right: 1em;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}