<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/favicon.ico">

    <title>Chat with {{ assistant_name }}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="header">
            <img src="/static/assistant_avatar.jpg" alt="Assistant Avatar">
            <h1>Chat with {{ assistant_name }}</h1>
          </div>
          <div id="chatbox">
            <!-- Chat messages will be added here -->
          </div>
          <!-- Add this button above your input field -->
          <button id="erase-button" class="btn btn-warning btn-sm">Erase Chat</button>
          <div class="input-group">
            <textarea class="form-control" id="user-input" placeholder="Type a message..."></textarea>
            <div class="input-group-append">
              <button class="btn btn-primary" id="send-button">Send</button>
            </div>
          </div>
          <div class="footer-info">
            <p id="input-notice" class="input-notice">Use Shift+Enter to insert a new line</p>
            <p class="version-text">v {{ app_version }}</p>
          </div>

          <script>
            // Check if it's likely a mobile device
            function isMobileDevice() {
              return /Mobi|Android/i.test(navigator.userAgent);
            }

            // When the DOM is fully loaded...
            document.addEventListener('DOMContentLoaded', (event) => {
              //console.log("DOM fully loaded and parsed");

              // Check if it's likely a mobile device
              if (!isMobileDevice()) {
                //console.log("Not a mobile device, showing input notice");
                document.getElementById('input-notice').style.display = 'block';
              } else {
                //console.log("Mobile device detected, hiding input notice");
                document.getElementById('input-notice').style.display = 'none';
              }

              // Erase button hidden by default
              document.getElementById('erase-button').style.display = 'none';
            });
          </script>

        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Include markdown-it from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

    <!-- Include highlight.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <!-- Include a highlight.js CSS theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">

    <!-- Include Prism.js and its theme -->
    <script src="https://unpkg.com/prismjs@1.25.0/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        Prism.plugins.autoloader.languages_path = 'https://unpkg.com/prismjs@1.25.0/components/';
    </script>

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

    <script src="static/script.js"></script>

    <script>
      var messages = {{ messages|tojson|safe }};

      // Add the messages to the chatbox
      window.onload = function () {
        // Send the user's time zone and user agent to the server
        let timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        let userAgent = navigator.userAgent;
        fetch('/api/user_info', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            timeZone: timeZone,
            userAgent: userAgent
          })
        });

        //console.log("Window loaded");
        var chatbox = document.getElementById('chatbox');
        for (var i = 0; i < messages.length; i++) {
          appendMessage(messages[i], "{{ assistant_name }}");
        }

        // Enable the erase button
        if (messages.length > 0) {
          document.getElementById('erase-button').style.display = 'block';
        }

        // Scroll to the bottom of the chatbox
        var chatbox = document.getElementById('chatbox');
        chatbox.scrollTop = chatbox.scrollHeight;

        // Focus on the input field
        document.getElementById('user-input').focus();
      };

      // When the document is loaded, add the event listeners for the buttons
      $(document).ready(function() {

        // Erase the chat when the user clicks the erase button
        $('#erase-button').click(function () {
          fetch('/clear_chat', { method: 'POST' })
            .then(function () {
              $('#chatbox').html('');
              // Hide the erase button
              document.getElementById('erase-button').style.display = 'none';
            });
        });

        // Send a message when the user clicks the send button
        $('#send-button').click(function() {
          var userInput = $('#user-input').val();

          // Log the user input in the console
          //console.log('User Input: ' + userInput);
          if (userInput) {
            var assistant_name = "{{ assistant_name }}"; // Get the assistant name from Flask
            sendMessage(userInput, assistant_name); // Send the user message
            $('#user-input').val('');  // Clear the input field
          }
        });

        // Send a message when the user presses the enter key
        $('#user-input').keypress(function(e) {
          if (e.which == 13) { // Enter key
              if (e.shiftKey) { // Shift key
                  e.preventDefault(); // Prevents the default action to be triggered (newline)
                  var cursorPos = this.selectionStart;
                  var value = $(this).val();
                  var textBefore = value.substring(0, cursorPos);
                  var textAfter = value.substring(cursorPos, value.length);
                  $(this).val(textBefore + "\n" + textAfter);
              } else {
                  e.preventDefault(); // Prevents the default action to be triggered (newline)
                  $('#send-button').click(); // Triggers sending the message
              }
          }
        });
      });
    </script>
  </body>
</html>
